/* CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
ul{ list-style:none; list-style-position:outside;}
a {outline: none;}

table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
ol,ul { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
q:before,q:after { content: ''; }
abbr,acronym { border: 0; }
a { outline: none; text-decoration: none; }
a img { border: none; }
.clear { clear: both; font-size: 1px; line-height: 1px; overflow: hidden; visibility: hidden; width: 0; height: 0; }

/* Tell old browsers how to handle HTML5 elements */
header, footer, aside, nav, article {display: block;}


body {
	background: #FFFFFF;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, #main_nav a, p {
	font-family: Pacifico, "Helveitca Neue", Helvetica, Arial, sans-serif;
	font-weight: lighter; /*counteract strong browser anti-aliasing*/
	margin: 0;
}

h2{font-size: 1.4em;}
p{
 font-size: .85em;
 color: #595754;
}
header {
    background: #F6A421;
}
header{
 padding-top: 5px;
}
#logo {
height: 96%;
}

div.top{
 background: url("../images/back.png") repeat-x transparent;
 height: 5em;
}
.banner img{
text-align: center;
margin: 0 auto;
}
/* RESPONSIVE style */
@media (max-width: 480px) {
  #main_nav, #main_nav > li {
    width: auto!important;
    display: block;
    float: none;
  }
  #main_nav  > li ul {
    display: none!important;
  }
}

img { max-width: 100%; } 
/* responsive end */

#main_nav ul ul {
	display: none;
}

	#main_nav ul li:hover > ul {
		display: block;
	}
#main_nav ul {
	font-weight: bold;
	background: #FFFFFF; 
	list-style: none;
	position: relative;
	display: inline-table;
}
	#main_nav ul:after {
		content: ""; clear: both; display: block;
	}
	
#main_nav ul li {
	float: left;
}
#main_nav ul.main_nav li {
	 border-left: 1px solid #fff; 
	 border-bottom: 1px solid #fff;
}


	#main_nav ul li:hover {
		background: #D88A16;
		background: linear-gradient(top, #D88A16 0%, #C98114 40%);
		background: -moz-linear-gradient(top, #D88A16 0%, #C98114 40%);
		background: -webkit-linear-gradient(top, #D88A16 0%,#C98114 40%);
	}
		#main_nav ul li:hover a {
			color: #fff;
		}
	
	#main_nav ul li a {
		display: block; 
		padding: 2.4em 2.5em .8em 2em;
		color: #757575; 
		text-decoration: none;
	}

#main_nav ul ul {
	background: #D88A16; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	#main_nav ul.main_nav ul.sub_nav li {
		float: none; 
		border-left: none; 
		position: relative;
	}
		#main_nav ul ul li a {
			padding: .8em 2.5em;
			color: #fff;
		}	
			#main_nav ul ul li a:hover {
				background: #D88A16; 
				background: linear-gradient(top, #D88A16 0%, #C98114 40%);
				background: -moz-linear-gradient(top, #D88A16 0%, #C98114 40%);
				background: -webkit-linear-gradient(top, #D88A16 0%,#C98114 40%);
			}
			
#main_nav .active
 {
    color: #FFFFFF;
    background: #F6A421;
}
#main_nav li.active:hover
 {
    background: #D88A16;
	background: linear-gradient(top, #D88A16 0%, #C98114 40%);
	background: -moz-linear-gradient(top, #D88A16 0%, #C98114 40%);
	background: -webkit-linear-gradient(top, #D88A16 0%,#C98114 40%);
}
.banner img, .banner h1{
	margin:0;
}
.banner h1{
	color: #EAE4D9;
	font-size: 2em;
	background: #F6A421;
	line-height: 2.5em;
	padding-left: 1.2em;
}
section.home_feature.row{
	margin: 2.5em;
	color: #74716C;
}
#col1, #col3{
	background: #EAE4D9;
}

article{
	padding: .5em;
	text-align: left;
	padding: 0px 1em 2.5em 1em;
}

section article h2, section article p{
	padding: 10px;
}
#col3 h2{
font-family: "Times New Roman", Times, serif;
}

/*footer*/
footer p{
   margin: 2.5em;
   color: #ADAAA5;
   font-size: 0.7em;
}